{{> nav}}
<h2>Profile</h2>


<img src="{{info.avatar}}" alt="Imagen de perfil">

<h5>Email: {{info.email}}</h5>
<h5>Nombre: {{info.nombre}}</h5>
<h5>Dirección: {{info.direccion}}</h5>
<h5>Edad: {{info.edad}}</h5>
<h5>Celular: +57 {{info.celular}}</h5>